force-app/main/default/flows/Display_Currency_Rates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Converted_Payload</name>
        <label>Get Converted Payload</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>DataWeaveConversionHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Currency_Rates</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>dataweaveName</name>
            <value>
                <stringValue>ExchangeRatesToHTML</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputData</name>
            <value>
                <elementReference>Get_Exchange_Rates</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DataWeaveConversionHelper</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Exchange_Rates</name>
        <label>Get Exchange Rates</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>GetExchangeRates</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Converted_Payload</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>currencyList</name>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GetExchangeRates</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Display Currency Rates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Currency Rates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Currency_Rates</name>
        <label>Currency Rates</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayRates</name>
            <extensionName>c:richTextField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>richTextContent</name>
                <value>
                    <elementReference>Get_Converted_Payload</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Exchange_Rates</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
